/* 
    Document   : index.css
    Created on : 12.03.2009, 11:36:09
    Author     : Anton Shevchuk
    Description:
        Styles for install docs
*/

body {
    color:#333;
    font:62.5%/1.6 Verdana,Tahoma,sans-serif;
    line-height:1.5em;
    background:#f3f3f3;
}

h1 {font-size:2.0em; color:#f60}
h2 {font-size:1.8em; color:#f60; text-shadow: 2px 2px 2px #ccc;}
h3 {font-size:1.6em; color:#f71; margin:12px 0}
h4 {font-size:1.4em; color:#f71; margin:8px  0}
h5 {font-size:1.2em; color:#f93; margin:6px 0}
h6 {font-size:1.2em; color:#f93; margin:4px 0}

p {
    font-size:1.4em;
    line-height:1.4em;
    background:#fff;
    padding:6px;
    border:1px solid #ccc;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -khtml-border-radius: 6px;
    -webkit-border-radius: 6px;
    box-shadow: 0 0 3px #aaa;
    -moz-box-shadow: 0 0 3px #aaa;
    -webkit-box-shadow: 0 0 3px #aaa;
}

code {
    display:block;
    width:760px;
    padding:4px;
    margin:8px auto;
    background:#eee;
    border:1px dotted #ccc;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -khtml-border-radius: 6px;
    -webkit-border-radius: 6px
}

code em {
	color: gray;
}

p span {
    padding:0 1px;
    background:#e0e0e0;
    border:1px dotted #ccc;
}

#content {
    width:800px;
    margin:0 auto;
}