/**
 * Based CSS
 *
 * Included 
 *
 * @author   Anton Shevchuk
 * @created  06.07.11 16:20
 */

html,body,
div,pre,code,
dl,dt,dd,ul,ol,li,
h1,h2,h3,h4,h5,h6,
form,fieldset,legend,input,button,textarea,
p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
caption,th{text-align:left;}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
input,button,textarea,select{*font-size:100%;}

body {
    font: 62.5%/1.5em Helvetica, Arial, sans-serif;
	background: url(grids.gif) repeat;
}

hr {
    border: 0;
    height: 1px;
	clear:both;
    background:#777;
	margin-bottom: 1em;
}
h1,h2,h3,h4,h5,h6 {clear:both}

pre {
    margin: 8px;
    padding: 8px;
    font-size:1.2em;
    line-height:1.4em;
    white-space: pre-wrap; /* css-3 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    background: #f5f5f5;
	-moz-box-shadow:inset 0 0 10px #D4D4D4;
	-webkit-box-shadow:inset 0 0 10px #D4D4D4;
	box-shadow:inset 0 0 10px #D4D4D4;
}

blockquote{ padding-left:6px }
del { text-decoration: line-through; }
table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption {
	color:#bb1111;
	font-weight: 700;
	text-align: center;
	padding: 4px 8px;
}

a {
    outline:none;
    text-decoration:none;
}
a img {
	border: none;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.left { float:left }
.right { float:right }
.clear { clear:both }
.empty { height:0 }

.textleft { text-align:left }
.textright { text-align:right }
.textcenter { text-align:center }

article, aside, header, footer, section {
    display:block;
}

/*Main*/
html {
    min-height: 100%;
}
body {
    color:#0F0F0F;
    height: 100%;
    min-height: 100%;
	padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
	padding-bottom: 20px;
}
.navbar a.brand {
	background: url(zf-logo-small.png) no-repeat;
	font-weight: 600;
	font-size: 24px;
	padding: 14px 60px 2px;
}

article {
	background: none repeat scroll 0 0 #fff;
	border: 1px solid #DDDDDD;
	border-radius: 3px 3px 3px 3px;
	margin:1.625em 0;
	padding: 1.625em;
}
	article .content {
		padding: 1em 0;
	}
footer {
	color: #777;
}
/*/Main*/
/*Messages*/
#messages {
    padding:0;
    z-index:999;
    font-weight:700;
    font-size:1.6em;
    position:fixed;
    top:40px;
    left:0;
    width:100%;
    border-top:1px solid #aaa;
    border-bottom:1px solid #aaa;
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABBJREFUeNpi+P9/yxmAAAMACTIDf5NbzpMAAAAASUVORK5CYII=);
    background:rgba(255, 255, 180, 0.9);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#95fffcc0, endColorstr=#95fffcc0);
}
    #messages p {
        width:1024px;
        margin:10px auto;
        font-size: 14px;
        line-height: 16px;
    }
    #messages p.error {
        color: #b94a48;
    }
    #messages p.info {
        color: #3a87ad;
    }
    #messages p.success {
        color: #468847;
    }
/*/Messages*/
/* Loading */
#loading {
	width: 180px;
	height: 40px;
	float:right;
	background: url("../../img/loading.gif") 50% 50% no-repeat;
	display: none;
}
/*/Loading */
/* Subnav */
.subnav {
  width: 100%;
  height: 36px;
  background-color: #eeeeee; /* Old browsers */
  background-repeat: repeat-x; /* Repeat the gradient */
  background-image: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%); /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Chrome 10+,Safari 5.1+ */
  background-image: -ms-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* IE10+ */
  background-image: -o-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Opera 11.10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
  background-image: linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* W3C */
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.subnav .nav {
  margin-bottom: 0;
}
.subnav .nav > li > a {
  margin: 0;
  padding-top:    11px;
  padding-bottom: 11px;
  border-left: 1px solid #f5f5f5;
  border-right: 1px solid #e5e5e5;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}
.subnav .nav > .active > a,
.subnav .nav > .active > a:hover {
  padding-left: 13px;
  color: #777;
  background-color: #e9e9e9;
  border-right-color: #ddd;
  border-left: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
     -moz-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
          box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
}
.subnav .nav > .active > a .caret,
.subnav .nav > .active > a:hover .caret {
  border-top-color: #777;
}
.subnav .nav > li:first-child > a,
.subnav .nav > li:first-child > a:hover {
  border-left: 0;
  padding-left: 12px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}
.subnav .nav > li:last-child > a {
  border-right: 0;
}
.subnav .dropdown-menu {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

/* Fixed subnav on scroll, but only for 980px and up (sorry IE!) */
@media (min-width: 980px) {
  .subnav-fixed {
    position: fixed;
    top: 40px;
    left: 0;
    right: 0;
    z-index: 1030;
    border-color: #d5d5d5;
    border-width: 0 0 1px; /* drop the border on the fixed edges */
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    -webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
       -moz-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
            box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
  }
  .subnav-fixed .nav {
    width: 938px;
    margin: 0 auto;
    padding: 0 1px;
  }
  .subnav .nav > li:first-child > a,
  .subnav .nav > li:first-child > a:hover {
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
  }
}
/* LARGE DESKTOP SCREENS */
@media (min-width: 1210px) {

  /* Update subnav container */
  .subnav-fixed .nav {
    width: 1168px; /* 2px less to account for left/right borders being removed when in fixed mode */
  }
}
/*bootstrap patch*/
div.pull-right .dropdown-menu {
	left:0
}
.well .pagination a{
	background: #fff;
}

.thumbnail {
	width: 80px;
	height: 80px;
	background: #fff;
}
/*/bootstrap patch*/