.m-blog .pagination {
    margin: 15px
}

.m-blog .commentlist > li.comment {
    background: none repeat scroll 0 0 #F6F6F6;
    border: 1px solid #DDDDDD;
    border-radius: 3px 3px 3px 3px;
    margin: 0 0 1.625em;
    padding: 1.625em;
    position: relative;
}

.m-blog .commentlist > li:before {
    content: url("../images/blog/comment-arrow.png");
    left: -21px;
    position: absolute;
}

.m-blog .commentlist {
    list-style: none outside none;
    margin: 20px auto;
    width: 68.9%;
}

.m-blog .commentlist .avatar {
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 2px #CCCCCC;
    left: -107px;
    padding: 0;
    position: absolute;
    top: 0;
}

.m-blog article {
    margin-top: 10px;
    margin-bottom: 10px;
}