.forum .pagination {
    margin: 15px
}

.forum article {
    margin-bottom: 10px;
}

.forum .comment {
    background: none repeat scroll 0 0 #F6F6F6;
    border: 1px solid #DDDDDD;
    border-radius: 3px 3px 3px 3px;
    margin: 0 0 1.625em;
    padding: 1.625em;
    position: relative;
}

.forum .commentlist > li:before {
    content: url("../images/forum/comment-arrow.png");
    left: -21px;
    position: absolute;
}

.forum .comment .avatar {
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 2px #CCCCCC;
    left: -107px;
    padding: 0;
    position: absolute;
    top: 0;
}

.forum table {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;

    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
}

.forum td, .forum th {
    border: 1px solid #DDDDDD;
    color: #333333;
    font-size: 90%;
    font-weight: normal;
    vertical-align: middle;
}

.forum th {
    height: 30px;
}

.forum td {
    padding: 5px;
    height: 60px;
}

.forum .category-level-2 td:first-child {
    padding-left: 20px;
}

.forum .category-level-3 td:first-child {
    padding-left: 40px;
}

.forum .category-level-4 td:first-child {
    padding-left: 60px;
}

.forum .category-level-5 td:first-child {
    padding-left: 80px;
}