.m-users dt {
    float: left;
    padding-bottom: 10px;
    display: block;
}

.m-users dd {
    clear: right;
    padding-left: 50px;
    padding-bottom: 10px;
}

.m-users dl {
    margin: 0 0 0 40px;
}