.users dt {
    float: left;
    padding-bottom: 10px;
    display: block;
}

.users dd {
    clear: right;
    padding-left: 50px;
    padding-bottom: 10px;
}

.users dl {
    margin: 0 0 0 40px;
}