@CHARSET "UTF-8";

.DataTables_sort_icon {
    float: right;
}
.fg-toolbar {
    border:0;
}
.dataTables_filter {
    float: right;
}
.dataTables_length {
    width: 50%;
    float: left;
}
#userGrid_info {
    float:left;
}
#userGrid_paginate {
    float:right;
}

#userForm input[type=text], 
#userForm input[type=password],
#userForm select, 
#userForm textarea {
    width: 200px;
}

#userForm dd, #userForm li {
	margin-top:5px;
	margin-bottom:5px;
}
.errors {
    color: #f00;
}