.blog-posts {

}
.blog-posts .pagination a{
	background: #fff;
}
.blog-posts article {
	background: none repeat scroll 0 0 #fff;
	border: 1px solid #DDDDDD;
	border-radius: 3px 3px 3px 3px;
	margin:1.625em 0;
	padding: 1.625em;
}
.blog-posts footer {
	color: #777;
}

.blog-posts-content {
	padding: 1em 0;
}