.commentlist {
    list-style: none outside none;
}
.commentlist li {
    margin: 0 0 1.625em;
}
.commentlist .avatar {
	width: 80px;
	height: 80px;
}
.commentlist .comment {
	position: relative;
    margin:0 0 0 120px;
}
.commentlist .comment:before {
    content: url("arrow.png");
    left: -21px;
    position: absolute;
}
.commentlist .comment {
    position: relative;
}

.commentlist header {
    color:#777;
	margin-bottom: 8px;
}

.commentlist .actions {
    position: absolute;
    top: 0;
    right: 0;
}

.comment .unknown-user {
    content: url("unknown.png");
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 2px #CCCCCC;
    left: -107px;
    padding: 0;
    position: absolute;
    top: 0;
    width: 80px;
    height: 80px;
}
.comment .warning {
    color: red;
    margin: 0;
    padding: 0;
}