.m-install .header .tophelp {
    font-size: 12pt;
}

.pageDelimiter:before {
    content: "\00bb";
    margin-right: 10px;
}
.pageDelimiter {
    margin-left: 10px;
}
.a-requirements span.recomendations{
    background: none;
    display: block;
    font-size: 10px;
    line-height: 1.4em;
    margin: 0;
    padding: 0;
    border: none;
    color: #777777;
}
.a-requirements p.acceptIcon:before {
    color: #64B229;
    content: "\2713";
    font-size: 30px;
    font-weight: bold;
    width: 40px;
    display: inline-block;
}
.a-requirements p.noAcceptIcon:before {
    color: #FF2F0B;
    content: "\292b";
    font-size: 30px;
    font-weight: bold;
    width: 40px;
    display: inline-block;
}
.a-requirements p.warningAcceptIcon:before {
    color: #FFB400;
    content: "\26a0";
    font-size: 30px;
    font-weight: bold;
    width: 40px;
    display: inline-block;
}

.a-requirements form dd {
    padding: 0px;
}

.a-finish textarea{
    width:800px;
    height:400px;
}
