.faq-contents {
    background-color: #F9F9F9;
    border: 1px solid #AAAAAA;
    padding: 10px;
}
.faq-questions {
    margin-top: 10px;
    margin-bottom: 25px;
}
.faq-question {
    font-size: large; 
    font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
}
.faq-answer {
    font-size: medium;
    padding-left: 25px;
}