/* 
    Document   : management
    Created on : 05.11.2010, 13:44:16
    Author     : august
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

#controls {
    border-top: 1px solid #eee;
    padding-top: 5px;
}

#formRead .label {
    font-weight:bold;
    float: left;
    width: 150px;
}

#formRead .body {
    float: none;
}

#formReply {
    border: 1px solid #eee;
    margin: 3px;
    padding: 3px;
}

